.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container div {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="checkbox"] {
  margin-right: 10px;
}

button[type="submit"] {
  background-color: rgb(53 127 112);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: rgb(215 232 225);
  color: rgb(53 127 112);
  /* border: 1px rgb(53 127 112); */
  border: solid 1px ;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

/* Centering styles */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button[type="submit"] {
  width: 50%;
  margin-top: 20px;
}

.show{
  display: block;
}

.hide{
  display: none;
}