.react-pdf__Document {
  display: block;
}

.react-pdf__Page {
  display: block;
  margin: auto;
  padding: 20px 0; /* Add padding to prevent overlap */
}

.page-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
}

.pdf-page {
  margin-bottom: 20px; /* Adjust the value to set the gap size */
}


